#Flashcardlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#next-card-submit {
    background-color: rgba(222, 233, 238, 0.87);
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    margin: 2em auto;
    width: 30%;
}

#next-card-submit:hover {
    background-color: rgba(30, 176, 243, 0.87);
    transition: background-color 0.4s;
}