  .card-container {
    margin: 2em auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: rgb(211, 141, 12);
    height: 53vh;
    width: 40%;
    border-radius: 40px;
    box-shadow: 6px 6px 10px rgb(18, 30, 32);
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  
  .card-text-original {
    position: relative;
    top: 20%;
    margin: auto 1em;
  }
  
  .card-text-translation {
    font-style: italic;
    position: relative;
    top: 50%;
    margin: auto 1em;
  }

  #flashcard-delete-btn {
    margin: 0;
    position: relative;
    left: 80%;
    top: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    color: black;
    outline: none;
    border: none;
    width: 3%;
    border-radius: 6px;
    background-color: rgba(238, 32, 32, 0.712);
  }

  #flashcard-delete-btn:hover {
    background-color: rgba(223, 32, 32, 0.612);
  }

@media only screen and (min-width: 1800px) {
  #flashcard-delete-btn {
    width: 7%;
    height: 7%;
  }
}

@media only screen and (max-width: 1800px) {
  #flashcard-delete-btn {
    width: 6%;
    height: 6%;
  }
}

@media only screen and (max-width: 1600px) {
  .card-container {
    width: 34%;
    height: 50vh;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1200px) {
  .card-container {
    width: 30%;
    height: 50vh;
    font-size: 1.5em;
  }

  #flashcard-delete-btn {
    width: 5%;
    height: 4%;
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    width: 40%;
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 900px) {
  .card-container {
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .card-container {
    width: 60%;
    height: 47vh;
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .card-container {
    width: 70%;
    height: 45vh;
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {
  .card-container {
    width: 80%;
    height: 45vh;
    font-size: 1em;
  }
}

@media only screen and (max-width: 300px) {
  .card-container {
    width: 85%;
    height: 39vh;
    font-size: 0.7em;
  }
}
