  .card-container {
    margin: 2em auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: rgb(211, 141, 12);
    height: 53vh;
    width: 40%;
    border-radius: 40px;
    box-shadow: 6px 6px 10px rgb(18, 30, 32);
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  
  .card-text-original {
    position: relative;
    top: 20%;
    margin: auto 1em;
  }
  
  .card-text-translation {
    font-style: italic;
    position: relative;
    top: 50%;
    margin: auto 1em;
  }

@media only screen and (max-width: 1200px) {
  .card-container {
    width: 55%;
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 800px) {
  .card-container {
    width: 60%;
    height: 50vh;
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 500px) {
  .card-container {
    width: 70%;
    height: 40vh;
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 300px) {
  .card-container {
    width: 80%;
    height: 35vh;
    font-size: 1em;
  }
}
