#HomePage {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    text-align: center;
    min-height: 100vh;
    font-family: 'Ranchers', cursive;
    color: rgb(211, 141, 12);
    text-shadow: 2px 2px #000000;
    max-width: 100vw;
}

.titles {
    font-family: 'Ranchers', cursive;
    color: rgb(211, 141, 12);
    text-shadow: 2px 2px #000000;
    margin: auto;
    margin-top: 1em;
}

#landing {
    background: url('./landing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1em;
    min-width: 250px; 
    max-width: 100%;
    height: 85vh;
}

#large-home-button, #large-logOut-button {
    width: 6.5em;
    height: 3em;
}

#large-home-button:hover {
    background-color: rgb(253, 202, 106);
    transition: background-color 0.4s;
}

#large-logOut-button:hover {
    width: 6.5em;
    height: 3em;
    background-color: rgba(238, 32, 32, 0.712);
}

#home-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
    width: 30%;
    margin: 1em auto;
}

#footer-container {
    background-color: rgba(222, 233, 238, 0.24);
    display: flex;
    margin: 2em 0 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

footer {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#copyright {
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1px;
    font-family: 'Balsamiq Sans', cursive; 
}

@media only screen and (max-width: 800px) {
    .titles {
        font-size: 1.5em;
    }

    h1 > .titles {
        font-size: 1em;
    }

    #copyright {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 400px) {
    #HomePage {
        margin: 0;
        justify-content: center;
        margin: auto;
    }

    #landing {
        margin: 0;
    }
}

@media only screen and (max-width: 300px) {
    .titles {
        font-size: 1.2em;
    }

    h1 > .titles {
        font-size: 0.7em;
    }
}
