#Learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.learn-item {
    font-family: 'Ranchers', cursive;
    color: rgb(211, 141, 12);
    text-shadow: 1px 1px #000000;
    margin: 2em auto;
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

.learn-link {
    margin: 0 auto;
}

.learn-item:hover {
    color: rgb(253, 202, 106);
    text-shadow: 2px 1px #000000;
    transition: color 0.4s;
}

#translation-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;
}

#translation-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 4em 0;
}

#translation-form textarea {
    width: 45em;
    height: 25em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#translation-form textarea[type=text]:focus {
    border: 3px solid #555;
}

#learn-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8em;
    justify-content: center;
    margin: 0 auto;
}

.large-learn-button {
    width: 7em;
    height: 4em;
    border: 2px solid black;
    color: black;
    font-size: 1.3em;
    border-radius: 5px;
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
}

.large-learn-button:hover {
    background-color: rgb(253, 202, 106);
    transition: background-color 0.4s;
}

#translation-submit {
    background-color: rgba(222, 233, 238, 0.87);
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1.3em;
    cursor: pointer;
    margin-bottom: 2em;
    width: 60%;
}

#translation-submit:hover {
    background-color: rgba(30, 176, 243, 0.87);
    transition: background-color 0.4s;
}

@media only screen and (max-width: 800px) {
    #translation-form {
        margin: 1em auto;
    }
}

@media only screen and (max-width: 500px) {
    .titles {
        font-size: 1.4em;
        margin: 1em 0.5em;
    }

    #translation-form {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    #translation-form textarea {
        width: 24em;
        height: 20em;
        margin: 0 auto;
    }

    #learn-buttons-container {
        gap: 4em;
    }
}

@media only screen and (max-width: 400px) {
    #translation-form textarea {
        width: 20em;
    }

    #learn-buttons-container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
}

@media only screen and (max-width: 350px) {
    .titles {
        font-size: 1.2em;
    }

    #translation-form textarea {
        width: 16em;
    }
}