#Learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.learn-item {
    font-family: 'Ranchers', cursive;
    color: rgb(211, 141, 12);
    text-shadow: 1px 1px #000000;
    margin: 2em auto;
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

.learn-link {
    margin: 0 auto;
}

.learn-item:hover {
    color: rgb(253, 202, 106);
    text-shadow: 2px 1px #000000;
    transition: color 0.4s;
}

#translation-form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;
    width: 80%;
    left: 10%;
}

#translation-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 0 0 3em 0;
}

#translation-form textarea {
    width: 45em;
    height: 25em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#translation-form textarea[type=text]:focus {
    border: 3px solid #555;
}

::selection {
    background-color: rgb(211, 141, 12);
}

#learn-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8em;
    justify-content: center;
    margin: 0 auto;
}

.large-learn-button {
    width: 7em;
    height: 4em;
    border: 2px solid black;
    color: black;
    font-size: 1.3em;
    border-radius: 5px;
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
}

.large-learn-button:hover {
    background-color: rgb(253, 202, 106);
    transition: background-color 0.4s;
}

#translation-submit {
    background-color: rgba(222, 233, 238, 0.87);
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1.3em;
    cursor: pointer;
    margin-bottom: 2em;
    width: 40%;
    max-width: 50em;
}

#translation-submit:hover {
    background-color: rgba(30, 176, 243, 0.87);
    transition: background-color 0.4s;
}

.note {
    color: rgb(211, 141, 12);
    text-shadow: 2px 2px #000000;
    margin: auto;
    margin: 0.5em auto;
    text-align: center;
}

#dlt-text {
    color: black;
    outline: none;
    border: none;
    margin: 0;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 3%;
    height: 3%;
    border-radius: 6px;
    left: 47%;
    top: 17.5%;
}

@media only screen and (max-width: 2300px) {
    #translation-submit {
        width: 45%;
    }   
}

@media only screen and (max-width: 1750px) {
    #translation-submit {
        width: 50%;
    }   
}

@media only screen and (max-width: 1700px) {
    #dlt-text {
        left: 46%;
    }
} 

@media only screen and (max-width: 1600px) {
    #translation-submit {
        width: 55%;
    }   
}

@media only screen and (max-width: 1250px) {
    #translation-submit {
        width: 60%;
    }   
}

@media only screen and (max-width: 1000px) {
    #translation-submit {
        width: 65%;
    }   
}

@media only screen and (max-width: 900px) {
    #dlt-text {
        top: 19.5%;
    }
}

@media only screen and (max-width: 800px) {
    #translation-form {
        margin: 1em auto;
    }

    .large-learn-button {
        font-size: 1.1em;
    }

    #translation-submit {
        width: 70%;
    }  

    #dlt-text {
        top: 20.5%;
    }
}

@media only screen and (max-width: 720px) {
    #dlt-text {
        top: 21%;
        left: 44%;
    }
}

@media only screen and (max-width: 650px) {
    #translation-submit {
        width: 75%;
    }  
}

@media only screen and (max-width: 562px) {
    #dlt-text {
        top: 24%;
        left: 43%;
    }
}

@media only screen and (max-width: 500px) {
    .titles {
        font-size: 1.4em;
        margin: 1em 0.5em;
    }

    #translation-form {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    #translation-form textarea {
        width: 24em;
        height: 16em;
        margin: 0 auto;
    }

    #learn-buttons-container {
        gap: 4em;
    }

    #translation-submit {
        width: 60%;
    } 
    
    #dlt-text {
        top: 23%;
        left: 81%;
    }
}

@media only screen and (max-width: 463px) {
    #dlt-text {
        top: 24.5%;
        left: 86%;
    }
}

@media only screen and (max-width: 435px) {
    #dlt-text {
        top: 24.5%;
        left: 89%;
    }
}

@media only screen and (max-width: 400px) {
    #translation-form textarea {
        width: 20em;
        height: 14em;
    }

    #learn-buttons-container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    #dlt-text {
        top: 23%;
        left: 84%;
    }
}

@media only screen and (max-width: 360px) {
    #dlt-text {
        left: 88%;
    }
}

@media only screen and (max-width: 350px) {
    .titles {
        font-size: 1.2em;
    }

    #translation-form textarea {
        width: 16em;
    }

    #dlt-text {
        left: 79%;
        top: 22%;
    }
}

@media only screen and (max-width: 316px) {
    #dlt-text {
        top: 23%;
        left: 82%;
    }
}