.UserLogin, .UserRegister{
    text-align: center;
    margin: 4em auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

Input, select{
    margin: 0.5em;
    height: 30px;
    border-radius: 5px;
}

.hyperlink {
    color: rgb(211, 141, 12);
}

.hyperlink:hover {
    background-color: rgb(253, 202, 106);
}