.UserLogin, .UserRegister{
    text-align: center;
    margin: 4em auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2em auto;
}

input, select{
    margin: 0.5em;
    height: 30px;
    border-radius: 5px;
}

#password-input {
    margin-bottom: 2em;
}

.hyperlink {
    color: rgb(211, 141, 12);
}

.hyperlink:hover {
    color: rgb(253, 202, 106);
}

@media only screen and (max-width: 800px) {
    form {
        width: 80%;
    }

    .UserLogin, .UserRegister{
        margin: 2em auto;
    }
}