.navbar {
    background-color: rgba(222, 233, 238, 0.87);
    margin: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

#navbar-links {
    margin: 1em 2em auto 2em;
    padding: 0;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.navbar-openWrapper {
    transform: translateX(0);
    transition: transform 0.1s ease, opacity ease .2s;
    justify-content: center;
    margin: auto;
}

.navbar-links-item {
    font-family: 'Ranchers', cursive;
    color: rgb(211, 141, 12);
    text-shadow: 1px 1px #000000;
    margin: auto 2em;
    font-size: 1.6em;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.navbar-links-item:hover {
    color: rgb(253, 202, 106);
    text-shadow: 2px 1px #000000;
    transition: color 0.4s;
}

#logo-container {
    margin: 5px auto auto 5px;

}

#logo {  
    width: 200px;
    height: 45px;
}

#bars-container {
    position: relative;
    margin: 0.2em 0.5em auto auto;
    padding: 0;
    border: none;
    background: none;
}

#bars-icon {
    font-size: 1.6em;
    color: rgb(211, 141, 12);
    cursor: pointer;
    border: 0px;
    width: 100%;
    padding: 0;
    border: none;
    background: none;
}

#bars-icon:focus { 
    outline: none; 
}

#bars-icon:hover {
    color: rgb(253, 202, 106);
    transition: color 0.4s;
}

@media only screen and (max-width: 800px) {
    .navbar {
        display: block;
        text-align: center;
        overflow: auto;
        justify-content: center;
        margin: 0;
    }

    #navbar-links {
        display: flex;
        flex-direction: column;
        margin: 1em 1em auto 1em;
    }

    #logo {
        width: 150px;
        height: 40px;
    }

    .navbar-links-item {
        margin: 6px auto;
        width: 100%;
        height: 30px;
        font-size: 1em;
        border: 3px ridge black;
        background-color: rgba(255, 235, 205, 0.308);
    }

    .navbar-links-item:hover {
        color: rgb(211, 141, 12);
        background-color: rgba(255, 235, 205, 0.808)
    }

    #bars-container {
        position: relative;
        margin: 5px auto 0.1em auto;
    }
}
