.navbar {
    background-color: rgba(222, 233, 238, 0.87);
    margin: 0;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
}

.navbar-links {
    margin-right: 3em;
    margin-left: auto;
    padding: 0;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.navbar-links-item {
    font-family: 'Ranchers', cursive;
    color: rgb(211, 141, 12);
    text-shadow: 1px 1px #000000;
    margin: 0 2em;
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

#logo {
    margin: 5px;
}
