.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;    
}

#profile-wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 4em 7em; 
    width: 50%;  
}

#img-wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center; 
}

#avatar-settings {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#profile-input-container, #profile-input-container-edit {
    display: flex;
    flex-direction: column;
    margin: 4em;
}

#profile-input-container {
    margin: 0;
}

.profile-labels {
    font-size: 19px;
    font-weight: bold;
    text-decoration-line: underline;
}

.profile-input {
    margin: 5px;
}

.profile-details {
    font-size: 17px;
    margin: 12px auto;
}


label {
    margin: auto;
}

#avatar {
    margin: 1.2em auto;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
}

#edit-button-pic {
    position: relative;
    left: 1.2em;
    margin: auto;
    padding: 20px;
}

